@import './components/_variable.scss';
@import './components/_header.scss';
@import './components/_general.scss';
@import'./components/_footer.scss';

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.otf');
    font-weight: bold;
    font-style: normal;
}

html,body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

* {
    font-family: 'Gilroy', sans-serif;
}