@import './components/_variable.scss';
@import './components/_header.scss';
@import './components/_general.scss';
@import'./components/_footer.scss';

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.otf');
    font-weight: bold;
    font-style: normal;
}

html,body {
    height: 100%;
}

<<<<<<< HEAD
.container {
    width: 1340px;
    margin: 0 auto;
=======
body {
    overflow-x: hidden;
>>>>>>> bed461cfd5a92fbbfa6acfad562f78c1749b88a1
}

* {
    font-family: 'Gilroy', sans-serif;
}