.header {
    background: #EDE9F4;
    height: 101%;
    width: 100%;
<<<<<<< HEAD
    margin-bottom: -30px;
=======
    margin-bottom: -10px;
    overflow: hidden;
>>>>>>> bed461cfd5a92fbbfa6acfad562f78c1749b88a1
    .noise {
        position: relative;
        top: -54%;
        left: 1%;
    }
    .cake {
        position: relative;
        width: 760px;
        top: 12%;
        left: 30.1%;
        animation: 30s linear infinite ridin;
        transform: translate(-50%, -50%);
    }
    .h-birthday {
        color: rgb(248, 171, 171);
        margin: 0;
        font-family: 'Gilroy', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 160px;
        width: 1300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .h-birthday--white {
            color: rgb(207, 187, 240);
        }
    }
    @keyframes ridin {
        from {
            transform: rotateZ(-360deg);
        }
        to {
            transform: rotateZ(360deg);
        }
    }
}

@media screen and (max-width: 1366px) {
    .header {
        .noise {
            width: 1300px;
            top: -70%;
            left: 0.5%;
        }
        .cake {
            width: 600px;
            top: 5%;
            left: 28%;
        }
        .h-birthday {
            font-size: 120px;
            top: 50%;
<<<<<<< HEAD
            left: 68%;
=======
            left: 63%;

>>>>>>> bed461cfd5a92fbbfa6acfad562f78c1749b88a1
        }
    }
}